/* FetchApi.module.css */
.fetchApiBlock{
  margin: 20px;
  min-height: 100vh;
}
h2{
  background: #1c5792;
  margin: 0px;
  padding: 10px;
  box-shadow: 0px 4px 10px black;
  margin-bottom: 20px;
  color: white;
}
.card {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  max-width: 800px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}
.card:hover{
  box-shadow: 4px 4px 10px black;
}

.container {
  max-width: 500px !important;
  width: 100%;
  margin: 0 auto;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formLabel {
  color: black; 
  font-weight: 700;
}

.inputField {
  padding: 12px;
  /* border-radius: 8px; */
  background-color: transparent;
  box-shadow: 4px 4px 10px black; /* Subtle box shadow */
}
.centerlize{
  max-width: 800px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn{
  display: flex;
  justify-content: space-between;
}
.backButton{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.authorize-div {
  /* display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.monday-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-color: #1c5792; /* Set your desired background color */
  border-radius: 5%;
}
.monday-auth:hover{
  box-shadow: 4px 4px 10px white;
}

.monday-auth button {
  background: transparent;
  border: none;
  color: white;
  font-size: x-large;
}

/* Responsive styles for small screens */
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .card {
    width: 80%;
  }
  .syncButton{
    align-self: center;
  }
  .fetchApiBlock{
    margin: 10px 0px;
  }
  .backButton{
    display: flex;
    justify-content: center;
  }
}
