.inner-block{
    text-align: center;
    min-height: 100vh;
}

@media (min-width: 767px){
    .innerest-block{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}